/* styles.css */
.container {
    width: 60%;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Center horizontally */
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    /* Optional: Add padding for spacing */
}

/* Style for headings */
h2 {
    margin-bottom: 20px;
    /* Optional: Add margin below headings */
}

/* Style for the "Declaration of Consent" label */
.label-consent {
    margin-top: 10px;
    /* Optional: Add margin above the label */
}

/* Style for the "Submit" button */
button[type="submit"] {
    margin-top: 20px;
    /* Optional: Add margin above the button */
}

/* Add this CSS to your styles.css file or create a new CSS file */

/* Center the content horizontally */

/* Style the tables with grey borders */
table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    
}

table,
th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    
}

/* Style table headers */
th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.containerNurse {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerDoctor {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chat {
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
}

.rec h3 {
    font-weight: normal;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: black;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
    margin-left: 20px;
}
